* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
}

/* Стили для вкладок*/
.tabcontent{
   padding: 50px;
   text-align: center;
   color: white;
   display: none;
}

.tabcontent.active {
    display: block;
}

#Moscow {
    background-color: red;
}

#Paris {
    background-color: green;
}

#Tokyo {
    background-color: blue;
}

#Oslo {
    background-color: yellow;
}

#tabList {
    display: flex;
}

/* Стили кнопок */
.tablink {
    background-color: #585858;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    padding: 16px 18px;
    width: 25%;

}

.tablink:hover{
    background-color: #8a8a8a8a;
}